<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Probability of Precipitation</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <div class="container">
    <div class="panel">
      <div class="info-panel" id="player-info">
        <p><span>HP: </span><span id="p_hp" data-value=100>100</span></p>
        <p><span>DPS: </span><span id="p_dps" data-value=5>5</span></p>
        <p><span>HPS: </span><span id="p_hps" data-value=0>0</span></p>
        <p><span>GP:  </span><span id="p_gold" data-value=0>0</span></p>
      </div>

      <div class="info-panel" id="game-info">
        <h3>Teleporter Stage: <span id="stage" data-value=1>1</span></h3>
        <p id="run-timer">0</p>
        <div id="button-div">
          <button id="start">Start Run!</button>
          <button id="test">Test!</button>
        </div>
        <div class="info-panel" id="log">
          <!-- log divs get added by JS here -->
        </div>
      </div>

      <div class="info-panel" id="enemy-info">
        <p><span>Enemies: </span><span id="t_enemies" data-value=0>0</span></p>
        <p><span>Total Kills: </span><span id="t_kills" data-value=0>0</span></p>
        <p><span>HealthPool: </span><span id="t_hp" data-value=0>0</span></p>
        <p><span>DamagePool: </span><span id="t_dp" data-value=0>0</span></p>
        <p><span>Total Mobs: </span><span id="t_mobs" data-value=0>0</span></p>
        <p><span>Mob Health: </span><span id="m_hp" data-value=0>0</span></p>
        <p><span>Mob DPS: </span><span id="m_dps" data-value=5>5</span></p>
        <p><span>Mob Gold: </span><span id="m_gold" data-value=10>10</span></p>
      </div>
    </div> 

    <div class="panel">
      <div class="info-panel" id="item-shop">
        <!-- item divs get added by JS here -->
      </div>
    </div>
  </div>
<%- include("partials/items") %>
<%- include("partials/game_script") %>
  
</body>


</html>